* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.headermenucat {
  min-height: 10vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/back.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.main {
  padding-top: 20px;
  min-height: 60vh;
  position: relative;
  background-color: #f3f3f3;
}
.main .details {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .details a {
  margin: 5px;
}
.footer {
  padding-top: 30px;
  padding-bottom: 1px;
  background-color: #2a363b;
  width: 100%;
  height: auto;
  text-align: center;
}
.footer .text-box h4 {
  color: white;
}
.footer .text-box p {
  color: #fff;
  padding: 5px;
  font-size: 15px;
  line-height: 2;
}
@media (max-width: 700px) {
  .main {
    min-height: 90vh;
  }
  .main .details {
    width: 100%;
  }
  .footer .text-box p {
    font-size: 12px;
  }
  .footer hr {
    background-color: #fff;
  }
}
